
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <!-- About 2 -->
                        <div class="row-about-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                    </div>
                                        
                                    <div class="col-md-6">
                                        <div class="wprt-headings clearfix">
                                            <h2 class="heading">ABOUT US</h2>
                                            <div class="sep"></div>
                                        </div><!-- /.wprt-headings -->

                                        <div class="wprt-spacer clearfix" data-desktop="30" data-mobi="25" data-smobi="25"></div>
                                            HITECH Electricals offer Customized and valuable service at all aspects of  elcetrical fields.We Introduce ourselves as a team  of electrical engineers
                                            and heihly skilled technicianswith adequate knowledge and experiance . To be a globally leading Electrical
                                            contractor we delivering proffesional service and quality work on time on your budget by using latest electrical
                                            technology to customers with utmost satisfaction.
                                        <p></p>

                                        <p>We always maintaining a high standard ofcustomers satisfaction giving you complete peace of mind
                                            at all times.Whatever your requirements may be we are happy to discuss your needs and help you
                                        to take a right decision.  </p>

                                        <div class="wprt-spacer clearfix" data-desktop="13" data-mobi="13" data-smobi="13"></div>

                                        <div class="wprt-divider divider-center divider-solid"></div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="wprt-spacer clearfix" data-desktop="30" data-mobi="25" data-smobi="25"></div>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <div class="wprt-counter text-center">
                                                    <span class="number" data-speed="2000" data-to="345" data-inviewport="yes"></span>
                                                    <span class="suffix" >+</span>
                                                    <div class="heading">Project Complete</div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="wprt-counter text-center">
                                                    <span class="number" data-speed="2000" data-to="20" data-inviewport="yes"></span>
                                                    <span class="suffix" >+</span>
                                                    <div class="heading">Years Expereince</div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="wprt-counter text-center">
                                                    <span class="number" data-speed="2000" data-to="220" data-inviewport="yes"></span>
                                                    <span class="suffix" >+</span>
                                                    <div class="heading">Design Complete</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="wprt-image-slider arrow-style-2 wd-40 arrow-square arrow-center offset0i offset-v0 has-arrows" data-auto="false" data-loop="false" data-gap="0" data-column="1" data-column2="1" data-column3="1">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img src="assets/img/abouts/about-1.jpg" alt="Image">             
                                                    
                                                    <a class="zoom-popup cbp-lightbox" href="assets/img/abouts/about-1-1366-900.jpg" data-title="">
                                                        <i class="fa fa-arrows"></i>
                                                    </a>
                                                </div>

                                                <div class="item">
                                                    <img src="assets/img/abouts/about-2.jpg" alt="Image">             
                                                    
                                                    <a class="zoom-popup cbp-lightbox" href="assets/img/abouts/about-2-1366-999.jpg" data-title="">
                                                        <i class="fa fa-arrows"></i>
                                                    </a>
                                                </div>

                                                 <div class="item">
                                                    <img src="assets/img/abouts/about-3.jpg" alt="Image">             
                                                    
                                                    <a class="zoom-popup cbp-lightbox" href="assets/img/abouts/about-3-1366-999.jpg" data-title="">
                                                        <i class="fa fa-arrows"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div><!-- /.wprt-image-slider -->
                                    </div>

                                    <div class="col-md-12">
                                        <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div>
                        <!-- /About 2 -->

                        <!-- About 1 -->
                        
                        <!-- /About 1 -->

                        <!-- Team 1 -->
                        <div class="row-team-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        
                                        <div class="wprt-headings text-center wd-500 clearfix">
                                            <h2 class="heading">MEET OUR TEAM</h2>
                                            <div class="sep"></div>
                                            <div class="sub-heading">Structure consists of talented people who helped make Structure what it is today.</div>
                                        </div><!-- /.wprt-headings -->

                                        <div class="wprt-spacer clearfix" data-desktop="53" data-mobi="30" data-smobi="30"></div>
                                        
                                        <div class="wprt-team style-1 text-center arrow-style-1 arrow-square arrow-center offsetcenter offset-v-140 has-arrows" data-auto="true" data-loop="true" data-gap="30" data-column="3" data-column2="2" data-column3="1">
                                            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                                                <div class="team-item clearfix">
                                                    <div class="thumb">
                                                        <img class="attachment-full size-full wp-post-image" src="assets/img/abouts/about-4.jpg" alt="Image">
                                                        
                                                        <ul class="socials clearfix">
                                                            <li class="facebook">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>

                                                            <li class="twitter">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li class="instagram">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </div><!-- /.thumb -->

                                                    <div class="text-wrap" >
                                                        <h4 class="name">Thoufeeq Abdulla K.A</h4>
                                                        <div class="position">Site Engineers with Auto cad	</div>
                                                        <div class="desc"> </div>
                                                    </div>
                                                </div><!--/.team-item -->

                                                <div class="team-item clearfix">
                                                    <div class="thumb">
                                                        <img class="attachment-full size-full wp-post-image" src="assets/img/abouts/about-5.jpg" alt="Image">
                                                        
                                                        <ul class="socials clearfix">
                                                            <li class="facebook">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>

                                                            <li class="twitter">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li class="instagram">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </div><!-- /.thumb -->

                                                    <div class="text-wrap" >
                                                        <h4 class="name">VIMAL M U </h4>
                                                        <div class="position">Engineer</div>
                                                        <div class="desc">Electrical Supervisor “B” Grade.
                                                            </div>
                                                    </div>
                                                </div><!--/.team-item -->

                                                <div class="team-item clearfix">
                                                    <div class="thumb">
                                                        <img class="attachment-full size-full wp-post-image" src="assets/img/abouts/about-6.jpg" alt="Image">
                                                        
                                                        <ul class="socials clearfix">
                                                            <li class="facebook">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>

                                                            <li class="twitter">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li class="instagram">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </div><!-- /.thumb -->

                                                    <div class="text-wrap" >
                                                        <h4 class="name">V.A Shahul Hameed </h4>
                                                        <div class="position">Executive Engineer </div>
                                                        <div class="desc">Electrical Supervisor “A” Grade.s </div>
                                                    </div>
                                                </div><!--/.team-item -->

                                                <div class="team-item clearfix">
                                                    <div class="thumb">
                                                        <img class="attachment-full size-full wp-post-image" src="assets/img/abouts/about-4.jpg" alt="Image">
                                                        
                                                        <ul class="socials clearfix">
                                                            <li class="facebook">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>

                                                            <li class="twitter">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li class="instagram">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </div><!-- /.thumb -->

                                                    <div class="text-wrap" >
                                                        <h4 class="name">DAVID MULLER</h4>
                                                        <div class="position">Designer</div>
                                                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscingelit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis </div>
                                                    </div>
                                                </div><!--/.team-item -->

                                                <div class="team-item clearfix">
                                                    <div class="thumb">
                                                        <img class="attachment-full size-full wp-post-image" src="assets/img/abouts/about-5.jpg" alt="Image">
                                                        
                                                        <ul class="socials clearfix">
                                                            <li class="facebook">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>

                                                            <li class="twitter">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li class="instagram">
                                                                <a target="_blank" href="http://yourlink.com/">
                                                                    <i class="fa fa-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </div><!-- /.thumb -->

                                                    <div class="text-wrap" >
                                                        <h4 class="name">ALEX LAM</h4>
                                                        <div class="position">Designer</div>
                                                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscingelit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis </div>
                                                    </div>
                                                </div><!--/.team-item -->
                                            </div>
                                        </div><!--/.wprt-team -->

                                        <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div>
                        <!-- /Team 1 -->
                    </div><!-- /.page-content -->
                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->
        </div><!-- /#content-wrap -->
    </div>
    <!-- /Main Content -->

    
   