
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
            <div id="content-wrap">
                <div id="site-content" class="site-content clearfix">
                    <div id="inner-content" class="inner-content-wrap">
                        <div class="page-content">
                            <!-- Icon Information -->
                            <div class="row-about-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="wprt-content-box clearfix " data-margin="" data-mobimargin="">
                                                <div class="inner">
                                                    <div class="wprt-icon-box style-3 font-70 clearfix icon-top align-center">
                                                        <div class="icon-wrap"><span class="fa fa-address-book " aria-hidden="true"></span></div>
                                                        <h3 class="heading">
                                                            HEAD OFFICE 
                                                        </h3>
                                                        <div><span>23/326/96 2nd Floor,N.P TOWER,</span></div>
                                                        <div><span>West Fort,Thrissur-4,</span></div>
                                                        <div><span>Ph:0487 2382260 Mob.8943212265,</span></div>
                                                        <div><span>8594002283</span></div>
                                                    </div>
                                                </div>
                                            </div><!-- /.wprt-content-box -->
    
                                            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                        </div><!-- /.col-md-4 -->
    
                                        <div class="col-md-6">
                                            <div class="wprt-content-box clearfix " data-margin="" data-mobimargin="">
                                                <div class="inner">
                                                    <div class="wprt-icon-box style-3 font-50 clearfix icon-top align-center">
                                                        <div class="icon-wrap"><span class="fa fa-address-book" aria-hidden="true"></span></div>
                                                        <h3 class="heading">
                                                            Design & Consulting
                                                        </h3>
                                                        <div><span>Room .No:207/692 AMA Complex</span></div>
                                                        <div><span>Kalmandapam,Palakkad- 1</span></div>
                                                        <div><span>Ph:0491-2548485,Mob:+91 8594002284</span></div>
                                                        <div><span>8594002296</span></div>
                                                    </div>
                                                </div>
                                            </div><!-- /.wprt-content-box -->
    
                                            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                        </div><!-- /.col-md-4 -->
    
                                        <div class="col-md-6">
                                            <div class="wprt-content-box clearfix " data-margin="" data-mobimargin="">
                                                <div class="inner">
                                                    <div class="wprt-icon-box style-3 font-60 clearfix icon-top align-center">
                                                        <div class="icon-wrap"><span class="fa fa-address-book" aria-hidden="true"></span></div>
                                                        <h3 class="heading">
                                                            HI-TECH ELECTRICALS W.L.L
                                                        </h3>
                                                       <div><span>P.O. Box No:20199 Doha,Qater,</span></div>
                                                        <div><span>Ph:+97430329165, +97444512636</span></div>
                                                        <div><span>Fax:97444512984</span></div>
                                                        <div><span>Email: hitechqatartc@gmail.com</span></div>
                                                    </div>
                                                </div>
                                            </div><!-- /.wprt-content-box -->
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-6"> 
                                                <div class="wprt-content-box clearfix " data-margin="" data-mobimargin="">
                                                    <div class="inner">
                                                        <div class="wprt-icon-box style-3 font-60 clearfix icon-top align-center">
                                                            <div class="icon-wrap"><span class="fa fa-address-book" aria-hidden="true"></span></div>
                                                            <h3 class="heading">
                                                                HI-TECH solar power solutions & AMC
                                                            </h3>
                                                        <div><span>V/518A Madayikonam P.O.,Mapranam,</span></div>
                                                        <div><span>Thrissur- 680712</span></div>
                                                        <div><span>Ph:0480-2828418,Mob:8594002285 </span></div>
                                                        <div><span>8594002282</span></div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.wprt-content-box -->
                                            </div><!-- /.col-md-4 -->
    
                                        <div class="col-md-12">
                                            <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        </div>
                                    </div><!-- /.Row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /Icon Information -->
    
                             <!-- Google Map -->
                            <!-- <div class="row-about-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
    
                                            <div class="wprt-gmap-1 gmap" data-lat="38.9452881" data-lng="-77.0286539" data-zoom="14" data-scrollwheel="false" data-icon="../../../maps.google.com/mapfiles/marker_green.png"></div>
    
                                            <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- /Google Map -->
    
                            <!-- Leave a Message -->
                            <div class="row-about-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <div class="wprt-spacer clearfix" data-desktop="74" data-mobi="60" data-smobi="40"></div>
                                                
                                                <div class="wprt-headings clearfix text-center style-3">
                                                    <h2 class="heading">GET IN TOUCH</h2>
                                                    <div class="sep"></div>
                                                </div><!-- /.wprt-headings -->
    
                                                <div class="wprt-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>
    
    
                                                <div class="wprt-content-box style-2">
                                                    <form action="http://www.cvtsoft.com/template/construct/includes/contact/contact-process.php" method="post" class="contact-form wpcf7-form">
                                                        <div class="wprt-contact-form-2">
                                                            <span class="wpcf7-form-control-wrap name">
                                                                <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Name *" required>
                                                            </span>
                                                            <span class="wpcf7-form-control-wrap email">
                                                                <input type="email" tabindex="2" id="email" name="email" value="" class="wpcf7-form-control" placeholder="E-mail *" required>
                                                            </span>
                                                            <span class="wpcf7-form-control-wrap phone">
                                                                <input type="text" tabindex="3" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="Phone Number">
                                                            </span>
                                                            <span class="wpcf7-form-control-wrap subject">
                                                                <input type="text" tabindex="4" id="subject" name="subject" value="" class="wpcf7-form-control" placeholder="Subject *" required>
                                                            </span>
                                                            <span class="wpcf7-form-control-wrap message">
                                                                <textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Message *" required></textarea>
                                                            </span>
                                                            <div class="wrap-submit">
                                                                <input type="submit" value="SEND MESSAGE" class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div><!-- /.wprt-content-box -->
                                                
                                                <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                                
                                            </div>
    
                                        <div class="col-md-1"></div>
                                    </div><!-- /.Row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /Leave a Message -->
                            
    
                        </div><!-- /.page-content -->
                    </div><!-- /#inner-content -->
                </div><!-- /#site-content -->
            </div><!-- /#content-wrap -->
        </div>
        <!-- /Main Content -->