
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
            <div id="content-wrap">
                <div id="site-content" class="site-content clearfix">
                    <div id="inner-content" class="inner-content-wrap">
                        <div class="page-content">
                        
                            <!-- Portfolio 1 -->
                            <div class="row-portfio-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wprt-spacer clearfix" data-desktop="74" data-mobi="60" data-smobi="40"></div>
                                            
                                            <div class="wprt-headings clearfix text-center">
                                                <h2 class="heading">OUR GALLERY</h2>
                                                <div class="sep"></div>
                                                <p class="sub-heading">
                                                    We provide a comprehensive range of services for industrial plants and facilities include Space Planners.
                                                </p>
                                            </div><!-- /.wprt-headings -->
    
                                            <div class="wprt-spacer clearfix" data-desktop="53" data-mobi="30" data-smobi="30"></div>
    
                                            <div class="wprt-portfolio-slider arrow-style-2 wd-40 arrow-square arrow-center offset0i offset-v-30 has-bullets bullet-circle bullet40 has-arrows" data-auto="false" data-loop="false" data-gap="20" data-column="3" data-column2="2" data-column3="1">
                                                <div class="owl-carousel owl-theme">
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-1.jpg" alt="image">             
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-1-100-808.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-2.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-2-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
    
                                                    
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-4.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-4-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-5.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-5-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-6.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-6-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-7.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-7-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
    
                                                    <div class="project-item">
                                                        <div class="inner">
                                                            <div class="effect-default">
                                                                <div class="project-image">
                                                                    <img src="assets/img/projects/project-8.jpg" alt="image">                      
                                                                </div>
    
                                                                <!-- <div class="text">
                                                                    <div>
                                                                        <h2><a href="#" title="">HOUSE OFF CARDS</a></h2>
                                                                        <p>
                                                                            <span><a href="#">Building</a></span>
                                                                            <span class="sep">/</span>
                                                                            <span><a href="#">House</a></span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                
                                                                <a class="zoom-popup cbp-lightbox" href="assets/img/projects/project-8-100-833.jpg" data-title="House Off Card">
                                                                    <i class="fa fa-arrows"></i>
                                                                </a>
                                                            </div><!-- /.effect-default -->
                                                        </div>
                                                    </div><!-- /.project-item -->
                                                </div>
                                            </div><!-- /.wprt-portfolio-slider -->
    
                                            <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        </div><!-- /.cold-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /Portfolio 1 -->
    
                            <!-- Action Box 1 -->
                            <div class="row-action-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wprt-action-box style-1">
                                                <div class="inner">
                                                    <div class="heading-wrap left">
                                                        <div class="text-wrap">
                                                            <h2 class="heading">
                                                                If you find a high quality constructor for your project?
                                                            </h2>
                                                        </div>
                                                    </div>
    
                                                    <div class="button-wrap right">
                                                        <a href="#" class="wprt-button outline white">GET A QUOTE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.wprt-action-box -->
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /Action Box 1 -->
                        </div><!-- /.page-content -->
                    </div><!-- /#inner-content -->
                </div><!-- /#site-content -->
            </div><!-- /#content-wrap -->
        </div>
        <!-- /Main Content -->
    