
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <!-- Testimonials -->
                            <div class="row-testimonials-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="40"></div>
                                        </div>

                                        <div class="col-md-6">
                                            <h2 class="text-center margin-bottom-10">STYLE 1</h2>

                                            <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                            <div class="wprt-testimonials clearfix style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvin 
                                                            cursus massa. Nullam leo ex, interdum vitae imperdiet et, viverra 
                                                            ultricies magna. Vivamus sed luctus odio. Aenean a blandit eros. 
                                                            Praesent dignissim dapibus lacus, nec pellentesque nibh. Integer at 
                                                            convallis erat. Aenean aliquam interdum metus,
                                                            <div class="arrow"></div>
                                                            <div class="arrow2"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="assets/img/client-1.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">DAVID MULLER</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.item -->
                                            </div><!-- /.wprt-testimonials -->

                                            <div class="wprt-spacer" data-desktop="40" data-mobi="40" data-smobi="40"></div>
                                        </div>

                                        <div class="col-md-6">
                                            <h2 class="text-center margin-bottom-10">STYLE 2</h2>

                                            <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                            <div class="wprt-testimonials clearfix style-2">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvin 
                                                            cursus massa. Nullam leo ex, interdum vitae imperdiet et, viverra 
                                                            ultricies magna. Vivamus sed luctus odio. Aenean a blandit eros. 
                                                            Praesent dignissim dapibus lacus, nec pellentesque nibh. Integer at 
                                                            convallis erat. Aenean aliquam interdum metus,
                                                            <div class="arrow"></div>
                                                            <div class="arrow2"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="assets/img/client-1.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">DAVID MULLER</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.item -->
                                            </div><!-- /.wprt-testimonials -->

                                            <div class="wprt-spacer" data-desktop="40" data-mobi="40" data-smobi="40"></div>
                                        </div>

                                        <div class="col-md-6">
                                            <h2 class="text-center margin-bottom-10">STYLE 3</h2>

                                            <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                            <div class="wprt-testimonials clearfix style-3">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvin 
                                                            cursus massa. Nullam leo ex, interdum vitae imperdiet et, viverra 
                                                            ultricies magna. Vivamus sed luctus odio. Aenean a blandit eros. 
                                                            Praesent dignissim dapibus lacus, nec pellentesque nibh. Integer at 
                                                            convallis erat. Aenean aliquam interdum metus,
                                                            <div class="arrow"></div>
                                                            <div class="arrow2"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="assets/img/client-1.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">DAVID MULLER</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.item -->
                                            </div><!-- /.wprt-testimonials -->

                                            <div class="wprt-spacer" data-desktop="40" data-mobi="40" data-smobi="40"></div>
                                        </div>

                                        <div class="col-md-6">
                                            <h2 class="text-center margin-bottom-10">STYLE 4</h2>

                                            <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                            <div class="wprt-testimonials clearfix style-4">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="avatar">
                                                            <div class="thumb">
                                                                <img src="assets/img/client-1.png" alt="image">
                                                            </div>
                                                        </div>

                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvin 
                                                            cursus massa. Nullam leo ex, interdum vitae imperdiet et, viverra 
                                                            ultricies magna. Vivamus sed luctus odio. Aenean a blandit eros. 
                                                            Praesent dignissim dapibus lacus, nec pellentesque nibh. Integer at 
                                                            convallis erat. Aenean aliquam interdum metus,
                                                            <div class="arrow"></div>
                                                            <div class="arrow2"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="info">
                                                                <h6 class="name">DAVID MULLER</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.item -->
                                            </div><!-- /.wprt-testimonials -->
                                        </div>

                                        <div class="col-md-12">
                                            <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                        <!-- /Testimonials -->
                    </div><!-- /.page-content -->
                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->    
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->
