

<body class="front-page no-sidebar menu-has-search header-style-1">

<div id="wrapper" class="animsition">
<div id="page" class="clearfix">
    <!-- Header Wrap -->
    <div id="site-header-wrap">
        <!-- Top Bar -->        
        <div id="top-bar">
            <div id="top-bar-inner" class="wprt-container">
                <div class="top-bar-inner-wrap">
                    <div class="top-bar-content style-1">
            <span class="phone content">0487-2382260</span>
                        <span class="address content"> West Fort,Thrissur-680712</span>
                    </div><!-- /.top-bar-content -->

                    <div class="top-bar-socials style-1">
                        <div class="inner">
                            <span class="icons">
                                <!-- <a href="#" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                                </a> -->

                                <a href="#" title="Facebook">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                </a>&nbsp;&nbsp;
                                <a href="assets/img/jpg2pdf.pdf"  download="brochure.pdf">
                                <input type="button" value="Download Brochure"/></a>
<!--                
                                <a href="#" title="Linkedin">
                                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                                </a>

                                <a href="#" title="Google Plus">
                                    <span class="fa fa-google-plus" aria-hidden="true"></span>
                                </a>

                                <a href="#" title="Skype">
                                    <span class="fa fa-skype" aria-hidden="true"></span>
                                </a> -->
                            </span>
                        </div>
                    </div><!-- /.top-bar-socials -->
                </div>
            </div>
        </div>
        <!-- /Top Bar -->

        <!-- Header -->
        <header id="site-header">
            <div id="site-header-inner" class="wprt-container">
                <div class="site-header-wrap-inner">
                    <div id="site-logo" class="clearfix">
                        <div id="site-logo-inner">
                            <a href="home.html" title="Contrucst" rel="home" class="main-logo">
                                <img src="assets/img/logo.png" width="210" height="42" alt="Contrucst" data-retina="assets/img/logo@2x.png" data-width="210" data-height="42">
                            </a>
                        </div>
                    </div><!-- /#site-logo -->

                    <div class="mobile-button"><span></span></div><!-- /mobile menu button -->

                    <nav id="main-nav" class="main-nav">
                        <ul>
                            <li ><a href="index.html">HOME</a>
                                
                            </li>

                            <li ><a [routerLink]="['./about']" (click)="aboutus()" >ABOUT US</a></li>

                            <li><a  [routerLink]="['./project']" (click)="aboutus()" >PROJECTS</a> 
                                
                                   
                              
                             </li>

                            <li><a  [routerLink]="['./portfolio']" (click)="aboutus()" >GALLERY</a>
                            </li>
                               
                            

                             <!-- <li><a [routerLink]="['./testimonial']">TESTIMONIALS</a></li> -->

                            <li><a [routerLink]="['./contact']" >CONTACT</a></li>
                        </ul>
                    </nav><!-- /#main-nav -->

                    <!-- <div id="header-search">
                        <a class="header-search-icon" href="#"><span class="fa fa-search"></span></a>
                        <form role="search" method="get" class="header-search-form" action="#">
                            <label class="screen-reader-text">Search for:</label>
                            <input type="text" value="" name="s" class="header-search-field" placeholder="Type and hit enter...">
                            <button type="submit" class="header-search-submit" title="Search">Search</button>
                        </form>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- /Header -->
    </div>
    <!-- /Header Wrap -->
<router-outlet></router-outlet>

                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->
       <!-- /#content-wrap -->
  
    <!-- /Main Content -->

    <!-- Footer -->
    <footer id="footer">
        <div id="footer-widgets" class="wprt-container">
            <div class="wprt-row gutter-30">
                <div class="col span_1_of_4">
                    <div class="widget widget-about">
                        <h2 class="widget-title">ABOUT US</h2>

                        <div class="text">
                            <p>Lorem ipsum dolor sit amet 
                                consectetur adipiscing elit. Integer 
                                ipsum enim, molestie sed dolor ut 
                                ultrices molestie purusLorem ipsum dolor sit amet 
                            </p>

                        </div>
                    </div><!-- /.widget-about -->

                    <div class="widget widget-socials">
                            <button type="button" onclick="alert('Hello world!')">Download Brochure</button>
                        <!-- <a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a> -->
                        <!-- <a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        <a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#"><span class="fa fa-skype" aria-hidden="true"></span></a> -->
                    </div><!-- /.widget-socials -->
                </div>
       <div class="col span_1_of_4">
                    <div class="widget widget-about">
                        <h2 class="widget-title">Address<br> Thrissur</h2>

                        <div class="text">
                            <p>3/326/96,Second Floor,N.P Tower<br>
                                  West Fort, Thrissur-680712
                                    Email: hitechelectricals2011@gmail.com
    Phone    :  0487-2382260   




    </p>

</div>

</div>

                        </div>
  <div class="col span_1_of_4">
                    <div class="widget widget-about">
                        <h2 class="widget-title"><br>Overseas Office</h2>

                        <div class="text">
                         <p>    Hi-Tech Electricals W.L.L
      Post Box – 20199, Doha, Qatar<br>
      Email: hitechqatartc@gmail.com<br><br>


    </p>

</div>

</div>

                        </div>



                <div class="col span_1_of_4">
                    <div class="widget widget-contact">
                        <h2 class="widget-title">CONTACT US</h2>

                        <div class="widget-contact-form">
                            <form action="#" method="post" class="widget-form" novalidate="novalidate">
                                <div class="widget-contact-form-1">
                                    <span class="form-control-wrap your-name">
                                        <input type="text" name="your-name" value="" size="40" class="widget-form-control widget-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name *">
                                    </span>
                                    <span class="form-control-wrap your-email">
                                        <input type="email" name="your-email" value="" size="40" class="widget-form-control widget-text widget-email widget-validates-as-required widget-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail *">
                                    </span>
                                    <span class="form-control-wrap your-message">
                                        <textarea name="your-message" cols="40" rows="5" class="widget-form-control widget-textarea" aria-invalid="false" placeholder="Message *"></textarea>
                                    </span>
                                    <div class="wrap-submit">
                                        <input type="submit" value="SEND MESSAGE" class="form-control widget-submit">
                                        <span class="ajax-loader"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.widget-contact -->
                </div>
            </div><!-- /.wprt-row -->
        </div><!-- /#footer-widgets -->
    </footer>
    <!-- /Footer -->

    <!-- Bottom -->
    <div id="bottom" class="clearfix">
        <div id="bottom-bar-inner" class="wprt-container">
            <div class="bottom-bar-inner-wrap">
                <p class="copyright"><span class="fa fa-copyright"></span>2018 Hi-Tech Electricals - All rights reserved.</p> 
            </div>
        </div>
    </div>
    <!-- /Bottom -->
<!-- /#page -->
<!-- /#wrapper -->

<a id="scroll-top"></a>
</body>

    
